@import "tailwindcss";
@plugin "daisyui" {
  themes: nord --default, abyss --prefersdark, cupcake, dracula;
}

:root {
  --background: #f9f9f9;
  --foreground: #030303;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #030303;
    --foreground: #f6f7f9;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}
